<!-- include="header.tmpl" -->
<!-- REITER -->
<table border="0" cellpadding="0" cellspacing="0" hight="19">
  <tr>
    <TD class=reitertext noWrap height=19>
	    <IMG height=1 alt="" src="/images/transparent.gif" width=7>	<B>$HEADING</B>	<IMG height=1 alt="" src="/images/transparent.gif" width=24></TD>
	<TD class=schattenrechts vAlign=top align=left width=68 height=19>
        <IMG src="/images/eckeor.gif" border=0 width="6" height="6"></TD>
  </tr>
</table>
<!-- Reiter ENDE -->

<!-- INHALTE -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" >
  <tr>
    <td class="linkbox"> <p class="linktext">$TEXT</td>
    <TD class=schattenrechts vAlign=top align=left width=6 >		<IMG src="/images/eckeor.gif" border=0 width="6" height="6"></TD>
  </tr>
  <tr>
    <TD class=schattenunten vAlign=top align=left >	<IMG src="/images/eckeul.gif" border=0 width="6" height="6"></TD>
    <TD class=schattenrechts vAlign=top align=left width=6 >		<IMG src="/images/eckeur.gif" border=0 width="6" height="6"></TD>
    </tr>
</table>
<!-- INHALTE ENDE -->

<p>&nbsp;</p>

</body>
</html>