<!-- include="header.tmpl" -->

<!-- REITER list-->
<table border="0" cellpadding="0" cellspacing="0" hight="19">
  <tr>
    <TD class=reitertext noWrap height=19>
	    <IMG height=1 alt="" src="/images/transparent.gif" width=7>
	    	<B>Search Archive For Music</B><IMG height=1 alt="" src="/images/transparent.gif" width=24></TD>
	<TD class=schattenrechts vAlign=top align=left width=68 height=19>
        <IMG src="/images/eckeor.gif" border=0 width="6" height="6"></TD>
  </tr>
</table>
<!-- Reiter ENDE -->

<!-- INHALTE -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
 <form action="/search/" method="get">
  <tr>
    <td class="linkbox" width="282" colspan="2" >    <p align="center" class=titel>&nbsp;</td>
    <TD class=schattenrechts vAlign=top align=left width=6 rowspan="9">		<IMG src="/images/eckeor.gif" border=0 width="6" height="6"></TD>
  </tr>
  <tr>
    <td class="linkbox" width="126" >&nbsp;</td>
    <td class="linkbox" width="156" >&nbsp;</td>
  </tr>
  <tr>
    <td class="linkbox" width="126" align="right">    <p class="linktext">Search Terms:</p></td>
    <td class="linkbox" width="156" >    <input type="text" name="q" size="40" /></td>
  </tr>
<tr><td class="linkbox" width="126"  align="right"><p class="linktext">Search for:</p></td>
<td align="left" class="linkbox">
 <input type="radio" name="type" value="all" checked> All Terms
 <input type="radio" name="type" value="any"> Any Terms
</td></tr>

  <tr>
    <td class="linkbox" width="126"  align="right">    <p class="linktext">Start Directory:</p></td>
    <td class="linkbox" width="156" >    $SELECT_COMBO</td>
  </tr>
  <tr>
    <td class="linkbox" width="126"  align="right">   <p class="linktext">Genres:</p></td>
    <td class="linkbox" width="156" >    $GENRE_COMBO</td>
  </tr>
  <tr>
    <td class="linkbox" width="126" align="right" >    <p class="linktext">Play Results</p></td>
    <td class="linkbox" width="156" >    <input type="radio" name="play" value="0" checked> No <input type="radio" name="play" value="1"> Yes </td>
  </tr>
  <tr>
    <td class="linkbox" width="126" >    &nbsp;</td>
    <td class="linkbox" width="156" >    &nbsp;</td>
  </tr>
  <tr>
    <td class="linkbox" width="126" >    &nbsp;</td>
    <td class="linkbox" width="156" >    <input type="submit" /></td>
  </tr>
  <tr>
  	<td class="linkbox">&nbsp;</td>
  	<td class="linkbox">&nbsp;</td>
  </tr>
  <tr>
    <TD class=schattenunten vAlign=top align=left width="6" colspan="2">	<IMG src="/images/eckeul.gif" border=0 width="6" height="6"></TD>
    <TD class=schattenrechts width=6><P align=left valign="top">		<IMG src="/images/eckeur.gif" border=0 width="6" height="6"></P></TD>
  </tr>
</form>
</table>
<!-- INHALTE ENDE -->
</body>
</html>